body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-position: center;

}

.LogoCarrito {
	position: absolute;
	top: 9%;
	right: 10%;
	width: 4%;
	height: 6%;
}

.LogoUsuario {
	position: absolute;
	top: 10%;
	right: 14%;
	width: 3%;
	height: 5%;
}

.LogoCabeza {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top:1em;
	width: 20%;
	height: 15%;
}

.table1 {
	border: 3px solid #E91E63;
	border-collapse:collapse;
	width:130em;
	height:52em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.about-area{
	padding-top: 5%;	
}
.about-img{
	position: relative;
}
.about-img img{
	display: block;
	margin: auto;
	width: 25%;
	border: 2px solid grey;
}
.about-text{
	position: relative;
	display: block;
	margin: auto;
	width: 75%;
	text-align: center;
}
.about-text h2{
	color: grey;
	font-family: lobster;
	font-size: 50px;
	letter-spacing: 1px;
}
.about-text p{
	font-size: 18px;
	color: black;
	letter-spacing: 1px;
}
.about-text a{
	background: #E91E63;
	color: white;
	padding: 7px 15px;
	display: inline-block;
	margin-top: 20px;
	width: 120px;
	font-weight: 600;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 1px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 300;

}
.about-text a:hover {
	background-color: #EC407A;
	border: 2px solid #E91E63;
}

.prod1 {
	display: block;
	margin-top: 0.5%;
	margin-left: 8%;
	align-content: left;
	width: 80%;
	left: 55%;
	border-radius: 20px;
}

.prod1l {
	margin-left: 8.5%;
}

fieldset.prod1 {
	margin-top: 1%;
	display: block;
	width: 25em;
	height: 18em;
	margin: 0;
	padding: 0;
	margin-left: 2%;
}