.btncafeteria {
 	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #E91E63;
    border-radius: 6px;
    border: 2px solid #E91E63;
    position: absolute;
    top: 85%;
    left: 51%;
}

.btncafeteria:hover {
    background-color: #EC407A;
}

.btnrestaurantes {
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #E91E63;
    border-radius: 6px;
    border: 2px solid #E91E63;
    position: absolute;
    top: 85%;
    left: 40%;
}

.btnrestaurantes:hover {
    background-color: #EC407A;
}

.btnbar {
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #E91E63;
    border-radius: 6px;
    border: 2px solid #E91E63;
    position: absolute;
    top: 90.5%;
    left: 48%;
}

.btnbar:hover {
    background-color: #EC407A;
}