body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-position: center;

}

.LogoCarrito {
	position: absolute;
	top: 9%;
	right: 10%;
	width: 4%;
	height: 6%;
}

.LogoUsuario {
	position: absolute;
	top: 10%;
	right: 14%;
	width: 3%;
	height: 5%;
}

.LogoCabeza {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top:1em;
	width: 20%;
	height: 15%;
}

.table1 {
	border: 3px solid #E91E63;
	border-collapse:collapse;
	width:130em;
	height:52em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.cafe1 {
	display: block;
	margin-top: 0.5%;
	margin-left: 8%;
	align-content: left;
	width: 68%;
	left: 43%;
	border-radius: 20px;
}

.cafe1l {
	margin-left: 8.5%;
}

fieldset.cafe1 {
	margin-top: 1%;
	display: block;
	width: 25em;
	height: 18em;
	margin: 0;
	padding: 0;
	margin-left: 2%;
}


.cafe2 {
	display: inline-block;
	margin-top: 0.5%;
	margin-left: 8%;
	align-content: left;
	width: 82%;
	left: 57%;
	border-radius: 20px;
}

.cafe2l {
	margin-left: 8.5%;
	margin-top: 1%;
}

fieldset.cafe2 {
	top: 29%;
	position: absolute;
	width: 24em;
	height: 18em;
	margin: 0;
	padding: 0;
	left: 24.5%;
}