body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-position: center;

}

.LogoCarrito {
	position: absolute;
	top: 9%;
	right: 10%;
	width: 4%;
	height: 6%;
}

.LogoUsuario {
	position: absolute;
	top: 10%;
	right: 14%;
	width: 3%;
	height: 5%;
}

.LogoCabeza {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top:1em;
	width: 20%;
	height: 15%;
}

.table1 {
	border: 3px solid #E91E63;
	border-collapse:collapse;
	width:130em;
	height:52em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.LogoCirculo {
	position: absolute;
	left: 54em;
	right: 54em;
	width: 27%;
}