.u-section-1 .u-sheet-1 {
  min-height: 666px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 666px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 478px;
  height: 478px;
  margin: -21px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 43px auto 0 349px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 370px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 32px;
    margin-left: 256px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 275px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 146px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 91px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
  }
}