.u-section-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-1 .u-group-1 {
  min-height: 571px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 414px;
  height: 273px;
  margin: -16px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 331px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 59px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  background-image: none;
  margin: 47px auto 0;
  padding: 1px 30px 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 552px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 211px;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }
}